# PP to add two numbers

In [3]:
num1 = 12
num2 = 14
print("The sum of the given two numbers is:",num1+num2)
print()

# with user input

num1 = int(input("Enter first number here:"))
num2 = int(input("Enter  second number here:"))

sum = num1+num2
print(sum)

The sum of the given two numbers is: 26

Enter first number here: 12
Enter  second number here: 2

14

# PP to calculate area of trinagle

In [ ]:
# PP to convert km into miles

In [6]:
# PP to swap two variables

In [5]:
# soln 1 
# Using third variable

In [10]:
x = 2
y = 4
temp = x
print("The value of temp variable is:",temp)

x = y 
print("The value of x variable is:",x)


y = temp 
print("The value of y variable is:",y)

The value of temp variable is: 2
The value of x variable is: 4
The value of y variable is: 2

In [12]:
# or

x = 2 # or can take input from user 
y = 8

temp = x
x = y 
y = temp 

print("The value of x variable is:",x)
print("The value of y variable is:",y)

The value of x variable is: 8
The value of y variable is: 2

In [13]:
# Without using third variable

In [15]:
x = int(input("Enter value of x:"))
y = int(input("Enter value of  y:"))

x,y = y,x        # this is  simple logic here

print("The value of x is:",x)
print("The value of y is:",y)

Enter value of x: 2
Enter value of  y: 3

The value of x is: 3
The value of y is: 2

In [7]:
# PP to check if number is even or odd

In [17]:
num = int(input("Enter number here:"))

if num % 2 == 0:
    print("The num is EVEN")
else:
    print("The num is ODD")

Enter number here: 7

The num is ODD

In [8]:
# pp to check if a number is positive or negative or zero

In [21]:
num = int(input("Enter a number here:"))

if num > 0 :
    print("Positive")
elif num == 0:
    print("It is zero")
else:
    print("Negative")

Enter a number here: -1

Negative

In [9]:
# PP to find the largest among three numbers

In [26]:
num1 = int(input("Enter num1 here:"))
num2 = int(input("Enter num2 here:"))
num3 = int(input("Enter num3 here:"))

if num1>num2 and num1>num3:
    print("num1 is largest")
elif num2>num1 and num2>num3:
    print("num2 is largest")
else:
    print("num3 is largest")

Enter num1 here: 2
Enter num2 here: 9
Enter num3 here: 3

num2 is largest

In [ ]:
# PP to check leap year

In [11]:
# PP to generate a random number

In [10]:
import random
num = random.randint(1,9)
print(num)

3

In [9]:
# PP to print all prime numbers in an interval

In [16]:
lower = int(input("Enter lower number:"))
upper = int(input("Enter upper number:"))

for num in range (lower,upper+1):
    if num>1:
        for i in range (2,num):
            if num % i == 0:
                break
        else:
            print(num)

Enter lower number: 1
Enter upper number: 20

2
3
5
7
11
13
17
19

In [13]:
# PP to check prime number

In [14]:
# PP to convert celsius to fahrenheit

In [15]:
# PP to display the multiplication table

In [16]:
# PP to find factorial of a number

In [ ]:
num = int(input("Enter num here:"))  # 5
fact = 1            # here we are going to multiply with this value 
                    # thats why I've taken 1 not 0 cause 0*something is 0
    
if num >= 1:        # cause negative numbers don't have 
                    #factorial value and factorial of 0 is 1 
        
    for i in range (1,num+1):   # 1 taken because it will start from one and will go on
                                #(num+1) is taken because num means 5 so it will take num-1 a/c indexing of python
        
        fact = fact * i        # i le ke chal raha hai 1,2,3,4,5 etc
                               # here is the logic   1*2
#                                                    2*3
#                                                    6*4
#                                                    24*5
#                                                    120 so the fact will 120
    
print("factorial of given num is:",fact)

In [2]:
n = int(input("Enter a number: "))
factorial = 1
if n >= 1:
    for i in range(1, n+1):
        factorial = factorial * i
print("Factorial of the given number is: ", factorial)

# Get a Number from the User: The program asks the user to type in a number. 
# This number is stored in a variable called num.

# Initialize a Variable for the Result: Another variable named fact is set to 1. 
# This variable will hold the final result, which is the factorial of the number the user entered.

# Check if the Number is Valid: If the number entered by the user is 1 or greater, 
# the program proceeds to calculate the factorial. Otherwise,
# it stops because the factorial of a number less than 1 is 1.

# # Calculate the Factorial: The program uses a loop to calculate the factorial. 
# It starts from 1 and goes up to the number entered by the user (num). With each iteration,
# it multiplies the current value of fact by the current value of the loop counter i.

# # Print the Result: After the loop finishes,
# the program prints out the factorial of the number the user entered.

Enter a number: -1
The factorial of number does not exist
Factorial of the given number is:  1

In [3]:
num = int(input("Enter num here:"))
fact = 1

if num<0:
    print("Factorial of negative number does not exist")
elif num == 0:
    print("Factorial of zero is:",1)
elif num >0:
    for i in range(1,num+1):
        fact = fact * i
    print("The factorial of given num is:",fact)

Enter num here:-5
Factorial of negative number does not exist

In [17]:
# PP to find factorial of a number using recursion 

# function calling itself in function (factorial fun is used inside factorial)

In [4]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)   #5*4!
                                    #4*3!
                                    #3*2!
                                    #2*1!

num = 5
result = factorial(num)
print("The factorial of", num, "is", result)

The factorial of 5 is 120

In [28]:
def fact(a):
    if a == 0:
        return 1
    else:
        return((a)*fact(a-1))
        
num = int(input("Enter num here:"))

result = fact(num)
print("The factorial of the given num is:",result)

Enter num here: 5

The factorial of the given num is: 120

In [18]:
# PP to check armstrong number

In [19]:
# PP to find armstrong number in an interval

In [20]:
# PP to print the fibonacci sequence

In [34]:
a = 0
b = 1
num = int(input("Enter number here:"))
if num  == 1:
    print(a)
else:
    print(a)
    print(b)
    for i in range (1,num+1):
        c = a+b
        a = b
        b = c 
        print(c)

Enter number here: 5

0
1
1
2
3
5
8

In [21]:
# PP to print the fibonacci sequence using recursion

In [33]:
def fibo(n):
    if n <= 1:
        return n
    else:
        return fibo(n-1) + fibo(n-2)

n = int(input("Enter num here:"))

if n <= 0 :
    print("enter a positive num")
else:
    print("Fibonacci sequence")
    
    for i in range (n):
        print(fibo(i))

Enter num here: 5

Fibonacci sequence
0
1
1
2
3

In [22]:
# PP to find sum of natural numbers

In [ ]:
# PP to find aum of natural numbers using recursion

In [27]:
# PP to swap two numbers

x = 2
y = 3

x,y = y,x

print(x)
print(y)

3
2

# PP to find sum of natural number using recursion

In [22]:
def NNS(n):
    if n<=1:
        return n
    else:
        return(n)+NNS(n-1)
    
n = int(input("Enter a number:"))

if n<=0:
    print("enter a positive number")
else:
    print("The sum of natural number upto given number:",NNS(n))

Enter a number:5
The sum of natural number upto given number: 15

# PP to find numbers divisible by another number

In [29]:

# soln using for loop

print("The numbers divisible by 13 are :")
for i in range(1,100):
    if i % 13 == 0:
        print(i)

The numbers divisible by 13 are :
13
26
39
52
65
78
91

In [39]:
# soln by using lambda() & filter()

l = [39,48,26,98,33,67,87]

result = list(filter(lambda x : x % 13 == 0,l)) # filter here will give list otherwise it will not print list

print(result)

[39, 26]

# PP to display powers of 2 using anonymous function or lambda function

In [ ]:
# PP to display powers of 2 using anonymous function or lambda function
# it is higher order function
# it is temporary function
# we don't need to define it it can works with statements too
# saves the memory by using small line code
# we use lambda when we need temporary functions

In [43]:
nterms = int(input("enter the number of terms here: "))
result = list(map(lambda x : 2 ** x, range (nterms+1)))
# print(result)

for i in range(nterms+1):
    print("The value of 2 raised to power",i,"is",result[i])

enter the number of terms here: 5
[1, 2, 4, 8, 16, 32]
The value of 2 raised to power 0 is 1
The value of 2 raised to power 1 is 2
The value of 2 raised to power 2 is 4
The value of 2 raised to power 3 is 8
The value of 2 raised to power 4 is 16
The value of 2 raised to power 5 is 32

# PP to find ASCII value of character
# American Standard Code for Information Interchange

In [48]:
char = "A"
print("The ASCII value of",char,"is",ord(char))

The ASCII value of A is 65

# PP to convert decimal to binary,octal,and hexadecimal

In [52]:
decimal = int(input("enter a number here:"))
print("The conversion of decimal number", decimal, "is:")
print(bin(decimal),"in binary")
print(oct(decimal), "in octal")
print(hex(decimal),"in hexadecimal")

enter a number here:12
The conversion of decimal number 12 is:
0b1100 in binary
0o14 in octal
0xc in hexadecimal

# PP to convert decimal number into binary using recursion

In [55]:
def convertbinary(n):
    if n > 1:
        convertbinary(n//2)
    print(n%2,end="")
    
convertbinary(15)

1111

# PP to find the factors of a number

In [61]:
num = int(input("enter the nubmer here:"))
for i in range(1,num+1):
    if num % i == 0:
        print(i)

enter the nubmer here:300
1
2
3
4
5
6
10
12
15
20
25
30
50
60
75
100
150
300

# PP to find HCF(Highest common factor) or GCD(Greatest common diviser)

In [66]:
def HCF(x,y):
    if x>y:
        smaller = y
    else:
        smaller = x
    for i in range (1,smaller+1):
        if ((x % i == 0) and (y% i == 0)):
            hcf =i
    return hcf

print ("the HCF of given two numbers is ",HCF(12,30))

the HCF of given two numbers is  6

# PP to shuffle deck of cards

In [12]:
import random, itertools
deck = list(itertools.product(range(1,14),["Spade","Club","Heart","Diamond"]))
print(deck)

for i in range(5):
    print(deck[i][0],"of", deck[i][1])

[(1, 'Spade'), (1, 'Club'), (1, 'Heart'), (1, 'Diamond'), (2, 'Spade'), (2, 'Club'), (2, 'Heart'), (2, 'Diamond'), (3, 'Spade'), (3, 'Club'), (3, 'Heart'), (3, 'Diamond'), (4, 'Spade'), (4, 'Club'), (4, 'Heart'), (4, 'Diamond'), (5, 'Spade'), (5, 'Club'), (5, 'Heart'), (5, 'Diamond'), (6, 'Spade'), (6, 'Club'), (6, 'Heart'), (6, 'Diamond'), (7, 'Spade'), (7, 'Club'), (7, 'Heart'), (7, 'Diamond'), (8, 'Spade'), (8, 'Club'), (8, 'Heart'), (8, 'Diamond'), (9, 'Spade'), (9, 'Club'), (9, 'Heart'), (9, 'Diamond'), (10, 'Spade'), (10, 'Club'), (10, 'Heart'), (10, 'Diamond'), (11, 'Spade'), (11, 'Club'), (11, 'Heart'), (11, 'Diamond'), (12, 'Spade'), (12, 'Club'), (12, 'Heart'), (12, 'Diamond'), (13, 'Spade'), (13, 'Club'), (13, 'Heart'), (13, 'Diamond')]
1 of Spade
1 of Club
1 of Heart
1 of Diamond
2 of Spade

# PP to make a simple calculator

In [21]:
print ("*"*20,"mini calculator","*"*20)
num1 = float(input("enter  first number here: "))
num2 = float(input("enter  second number here: "))
print("press 1 for addition \npress 2 for substration \npress 3 for multiplication \npress 4 for division") 


choice = int(input("Enter your choice from 1-4:"))
if choice == 1:
    print("The addition of given two numbers",num1+num2)
elif choice == 2:
    print("The subtraction of given two numbers",num1-num2)
elif choice == 3:
    print("The multiplication of given two numbers",num1*num2)
elif choice ==4:
    print("The division of given two numbers",num1/num2)
else:
    print("invalid input")

******************** mini calculator ********************
enter  first number here: 2
enter  second number here: 3
press 1 for addition
press 2 for substration
press 3 for multiplication
press 4 for division
Enter your choice from 1-4:1
The addition of given two numbers 5.0

# PP to display calender

In [3]:
import calendar 
year = int(input("Enter year here:"))
month = int(input("Enter month here:"))
calender = calendar.month(year,month)
print(calendar)

Enter year here:1993
Enter month here:7
<module 'calendar' from 'C:\\ProgramData\\anaconda3\\Lib\\calendar.py'>

# PP to add two matrices

In [9]:
A = [[1,5,8],
    [4,6,7],
    [7,2,3]]

B =[[4,5,6],
    [8,9,1],
    [3,5,6]]

result =[[0,0,0],
         [0,0,0],
         [0,0,0]]


for i in range (len(A)):
    for j in range (len(A[0])):
        result[i][j] = A[i][j] + B[i][j]
        
print(result) # print in matrix but in row form or in list form

for r in result:
    print(r)       # to print in one matrix form

[[5, 10, 14], [12, 15, 8], [10, 7, 9]]
[5, 10, 14]
[12, 15, 8]
[10, 7, 9]

# PP to multiply two matrices

In [14]:
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

B = [[1,2,1,1],
     [4,2,1,2],
     [6,3,4,1]]

result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

for i in range (len(A)):
    for j in range (len(B[0])):
        for k in range (len(B)):
            result[i][j] += A[i][k] * B[k][j]
            
print(result)           ### result in list form

for i in result:
    print(i)         # result in matrix form

[[27, 15, 15, 8], [60, 36, 33, 20], [93, 57, 51, 32]]
[27, 15, 15, 8]
[60, 36, 33, 20]
[93, 57, 51, 32]

# PP to transpose a matrix

In [20]:
Soln 1 using for loop

A = [[1,2,3],[4,5,6]]

T = [[0,0],
     [0,0],
     [0,0]]

for i in range (len(A)):
    for j in range (len(A[0])):
        T[j][i] = A[i][j] 

for i in T:
    print(i)

[1, 4]
[2, 5]
[3, 6]

In [23]:
# using list comprehension

A = [[1,2,3],[4,5,6]]
T = [[A[j][i] for j in range (len(A))] for i in range (len(A[0]))]

print(T)

for i in(T):
    print(i)

[[1, 4], [2, 5], [3, 6]]
[1, 4]
[2, 5]
[3, 6]

# STRING

# seperate number from string

In [5]:
# soln normal

str = "Nancy is 60 yrs old ,she wants 10 toffees"
num= []            # we have taken empty list here
for word in str.split():      # here splitting of str
    if word.isdigit():        # logic if digit     
        num.append(word)     # here we are appending list
print(num)                 # print that list

['60', '10']

# [1, 2, 3, 'python' , 'java']
# # Separate string and integer

In [49]:
original_list = [1, 2, 3, 'python', 'java']
integers = []
strings = []

for item in original_list:
    if isinstance(item, int):
        integers.append(item)
    elif isinstance(item, str):
        strings.append(item)

print("Integers:", integers)
print("Strings:", strings)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

In [ ]:
# if this problem comes at UR interview time do following

In [48]:
original_list = [1, 2, 3, 'python', 'java']

integers = []
strings = []

for x in original_list:
    if isinstance(x, int):
        integers.append(x)
    elif isinstance(x,type(str)):
    
        strings.append(x)
        
print(integers)        
print(strings)

[1, 2, 3]
['python', 'java']

In [20]:
# Using list comprehensions:

In [46]:
original_list = [1, 2, 3, 'python', 'java']
integers = [x for x in original_list if isinstance(x, int)]
strings = [x for x in original_list if isinstance(x, str)]

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

In [ ]:
# if this problem comes at UR interview time do following

In [50]:
original_list = [1, 2, 3, 'python', 'java']

integers = [x for x in original_list if isinstance(x, int)]
strings = [x for x in original_list if isinstance(x,type(str))]

print(integers)
print(strings)

[1, 2, 3]
['python', 'java']

# PP to check whether the string is palindrome or not

In [9]:
a = input("enter a word here: ")
rev = a [::-1]          # to reverse the str
if a == rev:
    print("it is palindrome")
else:
    print("It is not palindrome")

enter a word here: Jonathan
It is not palindrome

# PP to remove punctuations from string

In [13]:
punc = """!()-[]{};:'"\,.<>?/@#$%^&*_~`"""

string = input("Enter anything here:")

empty_string = ""

for i in string:
    if i not in punc:
        empty_string = empty_string + i 

print(empty_string)

Enter anything here:Hello!!! I'm vishal Maahire.
Hello Im vishal Maahire

# PP to check if a string is a number

In [6]:
num = input("Enter something here:")

def check_float(num):
    try:
        float(num)
        return True
    except:
        return False
    
print(check_float(num))

Enter something here:he
False

# PP to parse a string to a float or int

In [9]:
# soln 1 parse string into integer

In [19]:
string = "12345"
print(type(string))

int_str = int(string)
print(type(int_str))

<class 'str'>
<class 'int'>

In [20]:
# soln2 parse string into float

In [28]:
str = "123.456"
print(type(str))
print(str)
float_str = float(str)
print(type(float_str))

print(float_str)

<class 'str'>
123.456
<class 'float'>
123.456

In [29]:
# soln 3 parse string float numeral into integer

In [33]:
string = "234.567"
print(type(string))
print(string)

str_float_int = int(float(string))
print(type(str_float_int))
print(str_float_int)

<class 'str'>
234.567
<class 'int'>
234

# How to check if a string is a valid keyword in python

In [37]:
import keyword
words = ["break","john","continue","while","lambda","False","global","Dimitri"]

for i in range (len(words)):
    if keyword.iskeyword(words[i]):
        print(words[i], "is a keyword in python")
    else:
        print(words[i], "is not a keyword")

break is a keyword in python
john is not a keyword
continue is a keyword in python
while is a keyword in python
lambda is a keyword in python
False is a keyword in python
global is a keyword in python
Dimitri is not a keyword

In [39]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# PP to get substring of a string

In [52]:
a = "Harry Potter and The Goblet of Fire"
print(a[0:12])
print(a[-14:])
print(a[-14:-8])
print(a[0:28:2])         #start : end : step or gap

Harry Potter
Goblet of Fire
Goblet
HryPte n h olt

# PP to convert string to datetime

In [57]:
# Using date time module

from datetime import datetime
date = "Oct 14 1996 7:15AM"
print(type(date))
date_time = datetime.strptime(date,"%b %d %Y %I:%M%p")
print(date_time)
print(type(date_time))

<class 'str'>
1996-10-14 07:15:00
<class 'datetime.datetime'>

In [58]:
# using dateutil module

from dateutil import parser 
date_time = parser.parse("Oct 14 1996 7:15AM")
print(date_time)
print(type(date_time))

1996-10-14 07:15:00
<class 'datetime.datetime'>

# PP to catch multiple exceptions in one line

In [61]:
try:
    string = input("enter something here:")

    num = float(input("enter a number here:"))

    print(string+num)
except(ValueError,TypeError) as a:
    print(a)

enter something here:hello
enter a number here:2
can only concatenate str (not "float") to str

In [62]:
try:
    string = input("enter something here:")

    num = float(input("enter a number here:"))

    print(string+num)
except(ValueError,TypeError) as a:
    print(a)

enter something here:hello
enter a number here:hello
could not convert string to float: 'hello'

# PP to print output without a newline

In [64]:
print("Harry Potter")
print("and the Goblet of Fire")

Harry Potter
and the Goblet of Fire

In [67]:
print("Harry Potter",end =" ")
print("and the Goblet of Fire")

Harry Potter and the Goblet of Fire

# Python Iterators

# Python Iterators along with next function

In [70]:
nums = [1,2,3,4,5,6,7,8,9]
for i in nums:
    print(i)

1
2
3
4
5
6
7
8
9

In [74]:
nums = [1,2,3,4,5,6,7,8,9]
iterate = iter(nums)
print(iterate.__next__())
print(iterate.__next__())         # as many ypu will copy paste this line ans will follow

1
2

In [76]:
str = "Johnathan"
for i in str:
    print(i)

J
o
h
n
a
t
h
a
n

In [81]:
str = "Johnathan"
iterate = iter(str)
print(iterate.__next__())
print(iterate.__next__())

print(iterate.__next__())
print(iterate.__next__())

J
o
h
n

In [83]:
str = "Johnathan"
iterate = iter(str)
print(next(iterate))
print(next(iterate))
print(next(iterate))
print(next(iterate))

J
o
h
n

#  HERE WE CREATED OUR OWN ITERATOR

In [85]:
class Fantastic_Five:             ########### HERE WE CREATED OUR OWN ITERATOR             
    def __init__(self):
        self.num = 1
    def __iter__(self):
        return self
    def __next__(self):
        if self.num<=5:
            value = self.num
            self.num += 1
            return value
        else:
            raise StopIteration
FF = Fantastic_Five()

for i in FF:
    print(i)

1
2
3
4
5

# Python Generators

In [ ]:
# Iterators :
#     iterators gives one by one function
#     we've to use iter() and next()function

    
# Generators:
#     no need for iter() and next() function
#     it gives us functions by generating the function by one keyword that is yield 


# HERE NOTE TO REMEMBER: yield() function is there in generator which works like return() it gives(returns) us object. 
# it does not give value directly until and unless we use next() function with it.

In [21]:
def my_gen():
    yield "john"

x = my_gen()
print(x.__next__())

john

In [22]:
def my_gen():
    yield 666

x = my_gen()
print(x.__next__())

666

In [23]:
# use of return             IT IS SIMPLE FUNCTION

def my_gen():      
    return 666

x = my_gen()
print(x)

666

In [25]:
def my_gen():      
   yield 666

x = my_gen()
print(x)              # It will  return object not value     remember  you must use __next__() in generator

<generator object my_gen at 0x00000203FC36E770>

In [27]:
def my_gen():
    yield "john"
    yield 666
x = my_gen()
print(x.__next__())
print(x.__next__())

john
666

In [37]:
def Gen(n):                      # defined generator here                   # here n is args(argument)
    a = 0                        # a taken as 0 then we will increment this
    while a<n:                   # if a is less than n
        if a % 2 == 0:           # a  is divisible by 2 gives remender 0 
            yield a              # return a
        
        a += 1                   # to increment a by one digit
        
x = Gen(16)                      # 15 is parameter

for i in x:                   # here I am using for loop to increment the vlaue of i in x so 
     print(i)                 #value will go upto 16(one less than 16 that's why it is not showing 16 in it) as I given in x
                            # no need of next() function as I used for loop

0
2
4
6
8
10
12
14

In [40]:
def Gen(n):                      # defined generator here                   # here n is args(argument)
    a = 0                        # a taken as 0 then we will increment this
    while a<n:                   # if a is less than n
        if a % 2 == 0:           # a  is divisible by 2 gives remender 0 
            yield a              # return a
        
        a += 1                   # to increment a by one digit
        
x = Gen(16)                      # 15 is parameter

print(x.__next__())
print(x.__next__())                # here is need of next() function as I've not used for loop
print(x.__next__())         
print(next(x))                     # here I can use next like this too.
print(next(x))

0
2
4
6
8

# Fibonacci sequence by generator

In [46]:
def fibo(n):
    a,b = 0,1
    
    while a<n:
        yield a
        a,b = b,b+a
        
x = fibo(10)
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

0
1
1
2
3
5
8

In [45]:
def fibo(n):
    a,b = 0,1
    
    while a<n:
        yield a
        a,b = b,b+a
        
x = fibo(10)

for i in x:
    print(i)

0
1
1
2
3
5
8

# Taking multiple inputs from user

In [53]:
a = input("Enter a num here:")
b = input("Enter a num here:")
c = input("Enter a num here:")
print("The value of a is:",a)
print("The value of b is:",b)
print(c)

Enter a num here:2
Enter a num here:3
Enter a num here:4
The value of a is: 2
The value of b is: 3
4

In [59]:
a,b,c = input("Enter three numbers here:").split()
print("the value of a is:",a)
print("the value of b is:",b)
print("the value of c is:",c)

Enter three numbers here:1 2 3
the value of a is: 1
the value of b is: 2
the value of c is: 3

In [61]:
a,b,c = input("Enter three numbers here:").split(",")
print("the value of a is:",a)
print("the value of b is:",b)
print("the value of c is:",c)

Enter three numbers here:1,2,3
the value of a is: 1
the value of b is: 2
the value of c is: 3

In [64]:
a,b,c = input("Enter three names here:").split(",")
print("the value of a is:",a)
print("the value of b is:",b)
print("the value of c is:",c)

Enter three names here:john,jaani,janardan
the value of a is: john
the value of b is: jaani
the value of c is: janardan

In [66]:
a,b,c = input("Enter three numbers here:").split(",")
print("the addition of three nums is:")
print(int(a)+int(b)+int(c))

Enter three numbers here:1,2,3
the addition of three nums is:
6

# using list comprehension

In [68]:
a,b,c = [int(x) for x in input("enter three values here:").split()] 

print(a)
print(b)
print(c)

enter three values here:3 4 5
3
4
5

In [70]:
a,b,c = [int(x) for x in input("enter three values here:").split(",")] 
print("the addition of three nums is:")
print(int(a)+int(b)+int(c))

enter three values here:2,3,4
the addition of three nums is:
9

# PP to sort words in alphabetical orders

In [31]:
a = "Harry Potter And The Goblet Of Fire"
w = a.split()

for i in range (len(w)):  #it will iterate the word and will lower its letters  
    w[i] = w[i].lower() 

    
print(w)            #for lower print


w.sort()
print(w)      # for sorting alphabetically

for i in w:
    print(i)  # for one word in one line

['harry', 'potter', 'and', 'the', 'goblet', 'of', 'fire']
['and', 'fire', 'goblet', 'harry', 'of', 'potter', 'the']
and
fire
goblet
harry
of
potter
the

# PP to count number of each vowel

In [36]:
# Soln : Using dictionary

A = "The Shawshank Redemption"

vowels = "aeiou"

A = A.casefold()   # to make all the letters small
print(A)

count = {}.fromkeys(vowels,0)       # it will create dict

for char in A:                       
    if char in count:                
        count[char] += 1                   ## to iterate for next char
        
print(count)

the shawshank redemption
{'a': 2, 'e': 3, 'i': 1, 'o': 1, 'u': 0}

In [39]:
# Using list and dictionary comprehension

a = "Charlie and The Chocolate Factory"
vowels = "aeiou"
a = a.casefold()
print(a)

count = {key:sum([1 for char in a if char == key])for key in vowels}   # here key is vowels 
print(count)

charlie and the chocolate factory
{'a': 4, 'e': 3, 'i': 1, 'o': 3, 'u': 0}

# PP to safely create a Nested directory

In [2]:
from pathlib import Path
Path("C:/Users/Admin/Desktop/new_dir/demo_dir").mkdir(parents = True,exist_ok = True)

# DICTIONARY

# PP to merge two dictionaries

In [50]:
# soln using | (bar) operator


dict1 = {"John":96,"lisa":99}

dict2 = {"lisa":94,"peter":89}

print (dict1 | dict2)

{'John': 96, 'lisa': 94, 'peter': 89}

In [53]:
#soln using ** operator (kwargs)

dict1 = {"John":96,"lisa":99}

dict2 = {"lisa":94,"peter":89}

print({**dict1,**dict2})

{'John': 96, 'lisa': 94, 'peter': 89}

In [57]:
# soln using copy() and update() method

dict1 = {"John":96,"lisa":99}

dict2 = {"lisa":94,"peter":89}

dict3 = dict2.copy()
dict3.update(dict1)

print(dict3)

{'lisa': 99, 'peter': 89, 'John': 96}

# PP to sort a dict by value

In [ ]:
# soln : sort the dict based on values

marks = {"John":98,"Lisa":88,"Peter":68}

sorted_values = sorted(marks.items(), key = lambda x : x [1])

print(sorted_values)

In [61]:
# soln sort only the values

marks = {"John":98,"Lisa":88,"Peter":68}

v = sorted(marks.values())
print(v)

[68, 88, 98]

# PP to delete an element from dict

In [66]:
# Soln 1
# using del statement

marks = {"John":98,"Lisa":88,"Peter":68,"Rahul":56}
print(marks)

del marks["John"]
print(marks)

{'John': 98, 'Lisa': 88, 'Peter': 68, 'Rahul': 56}
{'Lisa': 88, 'Peter': 68, 'Rahul': 56}

In [68]:
# Soln 2 using pop() function

marks = {"John":98,"Lisa":88,"Peter":68,"Rahul":56}
pop_item = marks.pop("Peter")
print(marks)

{'John': 98, 'Lisa': 88, 'Rahul': 56}

# PP to check if a key is already present in a dict

In [5]:
# check if a list is empty

friends = {"Chandler":"Monica","Ross":"Rachael","Joey":"Phoebe"}

name = input("Enter a key here:")

if name in friends.keys():
    print("It is present")

Enter a key here:Ross
It is present

# PP to iterate over dictionaries using for loop

In [14]:
# Soln : dict using for loop
    
friends = {"Chandler":"Monica","Ross":"Rachael","Joey":"Phoebe"}  
print(friends)


# soln 1 with .items


for key,value in friends.items():
    print(key,"-",value)

{'Chandler': 'Monica', 'Ross': 'Rachael', 'Joey': 'Phoebe'}
Chandler - Monica
Ross - Rachael
Joey - Phoebe

In [18]:
# soln 2 with keys
for key in friends:
    print(key,":", friends[key])

Chandler : Monica
Ross : Rachael
Joey : Phoebe

In [22]:
# soln 3 with keys and values

for v in friends.keys():
    print(v)
    
for i in friends.values():
    print(i)

Chandler
Ross
Joey
Monica
Rachael
Phoebe

# LIST

# PP list comprehension

In [24]:
a = ["Ironman","Hulk","Vision","Thor","Loki",'Thanos']

for i in a :
    print(i.lower())      # upper()

ironman
hulk
vision
thor
loki
thanos

In [1]:
a = ["Ironman","Hulk","Vision","Thor","Loki",'Thanos']
new_list = [i.upper() for i in a ]
print(new_list)

['IRONMAN', 'HULK', 'VISION', 'THOR', 'LOKI', 'THANOS']

In [4]:
m = [i for i in range(10)]
print(m)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
k = [1,2,3,4,5,6,7,8,9]

new_list = []
for i in k :
    if i % 2 == 0:
        new_list.append(i)
print(new_list)

# or

m = [i for i in range(10) if i % 2 == 0]
print(m)

[2, 4, 6, 8]
[0, 2, 4, 6, 8]

# PP to get the last element of the list

In [11]:
Avengers = ["Ironman","Hulk","Vision","Thor","Loki",'Thanos']
print(Avengers[-1])

Thanos

# PP to concatenate two lists

In [14]:
# soln using + operator

l1 = [3,4,6,8,"a","j"]
l2 = [3,6,"k","j","f"]

l12 = l1+l2
print(l12)

[3, 4, 6, 8, 'a', 'j', 3, 6, 'k', 'j', 'f']

In [16]:
# soln2 with unique values

l1 = [3,4,6,8,"a","j"]
l2 = [3,6,"k","j","f"]

l12 = list(set(l1+l2))   # first concat then convert in set then convert in list
print(l12)

[3, 4, 6, 8, 'k', 'a', 'j', 'f']

In [17]:
# using extend() function

l1 = [3,4,6,8,"a","j"]
l2 = [3,6,"k","j","f"]

l1.extend(l2)

print(l1)

[3, 4, 6, 8, 'a', 'j', 3, 6, 'k', 'j', 'f']

# PP to check if a list is empty

In [19]:
# soln1 using boolean operation

my_list = []

if not my_list:
    print("The list is empty")

The list is empty

In [24]:
# soln using len() function

my_list = []
print(len(my_list))

if len(my_list) == 0:
    print("The list is empty")

0
The list is empty

In [28]:
# soln 3  using []

my_list = []

if my_list == []:
    print("The list is empty")

The list is empty

# PP to read a file line by line into a list

In [35]:
# soln 1 using readlines()

f = open ("\file.txt","r")
lines = f.readlines()
print(lines)

new_lines = [x.strip() for x in lines]
print(new_lines)

OSError: [Errno 22] Invalid argument: '\x0cile.txt'

In [34]:
# using for loop and list comprehension

f = open ("\file.txt","r")
line = [line for line in f]

print(line)

new_lines = [x.strip() for x in line]
print(new_lines)

# PP to slice list

In [37]:
Avengers = ["Ironman","Hulk","Vision","Thor","Loki",'Thanos'] 

print(Avengers[1:4])  #   start:end

['Hulk', 'Vision', 'Thor']

In [38]:
print(Avengers[::])

['Ironman', 'Hulk', 'Vision', 'Thor', 'Loki', 'Thanos']

In [39]:
print(Avengers[:3])

['Ironman', 'Hulk', 'Vision']

In [40]:
Avengers = ["Ironman","Hulk","Vision","Thor","Loki",'Thanos'] 
print(Avengers[2:])

['Vision', 'Thor', 'Loki', 'Thanos']

In [41]:
print(Avengers[::2])

['Ironman', 'Vision', 'Loki']

In [42]:
print(Avengers[::-1])

['Thanos', 'Loki', 'Thor', 'Vision', 'Hulk', 'Ironman']

In [43]:
Avengers = ["Ironman","Hulk","Vision","Thor","Loki",'Thanos'] 
print(Avengers[-6:-3])

['Ironman', 'Hulk', 'Vision']

# PP to access index of list using for loop

In [46]:
# using enumerate method 

l = [23,45,67,89,12,45]
for index, value in enumerate (l):
    print(index,value)

0 23
1 45
2 67
3 89
4 12
5 45

In [48]:

l = [23,45,67,89,12,45]
for index, value in enumerate (l,start = 1):
    print(index,"-",value)

1 - 23
2 - 45
3 - 67
4 - 89
5 - 12
6 - 45

In [51]:
# soln 2 using for loop

l = [23,45,67,89,12,45]

for index in range (len(l)):
    value = l[index]
    print(index,value)

0 23
1 45
2 67
3 89
4 12
5 45

In [1]:
# PP to swap any two elements in the list

In [10]:
# Approach simple swap

list = [23,65,19,90]          # pos 1 = 1st index element   pos2 = 3rd index 
print(list)
print()

pos1,pos2 =1,3              #1st pos is 23     3rd pos is 90

list[pos1],list[pos2] = list[pos2],list[pos1]  # here logic -list[pos1]- will become list[pos2] and list[pos2] will becomelist[pos1]  

print(list)

[23, 65, 19, 90]

[23, 90, 19, 65]

In [13]:
# Using inbuilt list.pop() function

list = [23, 65, 19, 90]
print(list)
print()
pos1,pos2 =1,3

first_ele = list.pop(pos1)   #65
sec_ele = list.pop(pos2-1)   #23,19,90 <-------- here 65 is gone so only 3 elements there thts why pos2-1 in logic

list.insert(pos1,sec_ele)
list.insert(pos2,first_ele)
print(list)

[23, 65, 19, 90]

[23, 90, 19, 65]

In [15]:
# Using tuple
my_list = [23, 65, 19, 90]
print(my_list)
pos1,pos2 = 1,3

get = (my_list[pos1],my_list[pos2])         #these two statements will do sawpping
my_list[pos2],my_list[pos1] = get

print()
print(my_list)

[23, 65, 19, 90]

[23, 90, 19, 65]

In [ ]:
l = [1,2,3,4,5]     #pos1 = 2 pos2 = 5

# PP to illustrate different set operations
# Union, intersection,difference,symmetric difference

In [1]:
A = {1,2,3,6,8,9}
B = {3,4,5,6,7,8}

print("The union is :", A | B)

print("The intersection is :", A & B)

print("The difference is :",A - B)

print("The symmetric differnence is :", A ^ B)

The union is : {1, 2, 3, 4, 5, 6, 7, 8, 9}
The intersection is : {8, 3, 6}
The difference is : {1, 2, 9}
The symmetric differnence is : {1, 2, 4, 5, 7, 9}

# Python short hand    if     and    if-else

# if statement

In [5]:
num = int(input("Enter a num here:"))

if num % 2 == 0:
    print("Even")

Enter a num here:8
Even

# ShortHand if statement

In [8]:
num = int(input("Enter a num here:"))
if num % 2 == 0 : print("Even")

Enter a num here:18
Even

# if else statement

In [16]:
num = int(input("Enter a num here:"))

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a num here:7
Odd

# ShortHand    if_else

In [19]:
num = int(input("Enter num here:"))

print("Even") if num % 2 == 0 else print("odd")

Enter num here:8
Even

# Tips and tricks to write a better python code

In [26]:
1  # multiple checks in if statement

marks = 80

if marks == 80 or marks == 90 or marks == 95:
    print("Good Job!")
    
    
# TRICK

marks = 80
if 80 in [90,80,95]: print("Good Job!")

Good Job!
Good Job!

In [27]:
2          #       ShortHand if-else statement
marks = 80

if marks > 90:
    print("Excellent Work!")
else:
    print("Good Job!")

    
#  TRICK   

marks = 98
print("Excellent job!") if marks > 90 else print("Good job")

Good Job!
Excellent job!

In [25]:
3    # List Comprehensions


l = [2,3,4,5,6,7,8]

a = []
for i in l :
    a.append(i*2)
print("Using for loop:",a)



# TRICK
x = [i*2 for i in l]
print("Using list comprehension:",x)

Using for loop: [4, 6, 8, 10, 12, 14, 16]
Using list comprehension: [4, 6, 8, 10, 12, 14, 16]

In [28]:
4       # Using Enumerate function

l =[2,4,6,8,10,12,14,16]

index = 0     # here we are giving index 
for i in l:
    print(index,i)     # here we iterating index as well as iterations in l 
    index += 1          # here we incremented index

0 2
1 4
2 6
3 8
4 10
5 12
6 14
7 16

In [30]:
l = [2,4,6,8,10,12,14,16]

for i in enumerate(l):     # it will give results in tuple
        print(i)

(0, 2)
(1, 4)
(2, 6)
(3, 8)
(4, 10)
(5, 12)
(6, 14)
(7, 16)

In [34]:
5     # 5  using _ as seperators
num1 = 90_000_000                 # we can seperate the value by_ 90000000
num2 = 10_000

sum = (num1 + num2)
print(f"{sum:,}")          # formatting is used

90,010,000

In [37]:
6         # 6   Lambda function

def square(x):
    return x**2
print(square(4))

16

In [40]:
a = lambda b: b**2
print(a(4))

16

In [4]:
7      # ZIP function


print("Rachael has scored 90 marks in English")
print("Phoebe has scored 80 marks in Math")
print("Joey has scored 70 marks in Economics")
print("Monica has scored 60 marks in Science")
print("Ross has scored 50 marks in History")
print("Chandler has scored 95 marks in Comp science")

Rachael has scored 90 marks in English
Phoebe has scored 80 marks in Math
Joey has scored 70 marks in Economics
Monica has scored 60 marks in Science
Ross has scored 50 marks in History
Chandler has scored 95 marks in Comp science

In [3]:
names= ["Joey","Chandler","Monica","Ross","Phoebe","Rachael"]
marks = [90,80,70,60,50,95]
subjects = ["English","Math","Economics","science","History","science"]
      
for name,mark,subject in zip (names,marks,subjects):        #ZIP function
      print(name,"has scored",mark,"in",subject)

Joey has scored 90 in English
Chandler has scored 80 in Math
Monica has scored 70 in Economics
Ross has scored 60 in science
Phoebe has scored 50 in History
Rachael has scored 95 in science

In [ ]:
8            # 8        Protect password in terminal

In [5]:
9        #9                 using sets to sort the unique values

In [8]:
l = [10,20,30,40,50,60,70,80]
print(l)
print()                  # used to give gap in line


my_set = set(l)            # to convert into set
print(my_set)
print()                    # used to give gap in line

print(list(my_set))        # to convert into list

[10, 20, 30, 40, 50, 60, 70, 80]

{70, 40, 10, 80, 50, 20, 60, 30}

[70, 40, 10, 80, 50, 20, 60, 30]

In [ ]:
10                # 10   Formatting string using f string

In [13]:
name = "John"
print("my name is",name)
print()

print(f"my name is {name}")                     # f string

my name is John

my name is John

In [15]:
num1,num2 = 12,14
print("The addition of",num1,"and",num2, "is",num1+num2)
print()

print(f"The addition of {num1} and {num2} is {num1+num2}")

The addition of 12 and 14 is 26

The addition of 12 and 14 is 26

In [ ]:
11           # 11       using sorted to sort the complex iterables

In [20]:
l = [30,37,74,98,2,121]
sorted_list = sorted(l)
print(sorted_list)                         # ascending order
print()


reverse_sorted_list = sorted(l,reverse = True)                # to reverse the list descending order 
print(reverse_sorted_list)

[2, 30, 37, 74, 98, 121]

[121, 98, 74, 37, 30, 2]

In [29]:
dict = [
    {"Name":"John","Marks":87},
    {"Name":"Ross","Marks":90},
    {"Name":"Monica","Marks":78},
    {"Name":"Rachael","Marks":67}
]

sorted_data = (sorted(dict,key = lambda x:x["Marks"]))
print(sorted_data)                 # to print in one line
print()

for i in sorted_data:                            # to print in new line each looks good
    print(i)

[{'Name': 'Rachael', 'Marks': 67}, {'Name': 'Monica', 'Marks': 78}, {'Name': 'John', 'Marks': 87}, {'Name': 'Ross', 'Marks': 90}]

{'Name': 'Rachael', 'Marks': 67}
{'Name': 'Monica', 'Marks': 78}
{'Name': 'John', 'Marks': 87}
{'Name': 'Ross', 'Marks': 90}

In [ ]:
12                 #12 merge dictionaries using ** double asterisks or stars

In [31]:
dict1 = {"Name":"Ross","marks":90}
dict2 = {"Name":"Ross","Hobbies":"Singing"}

md = {**dict1,**dict2}
print(md)

{'Name': 'Ross', 'marks': 90, 'Hobbies': 'Singing'}

In [ ]:
13              # 13  unpacking using _ (underscore) and * variable

In [35]:
a,b,c = (2,3)
print(a)

ValueError: not enough values to unpack (expected 3, got 2)

In [36]:
a,b,c = (2,3,23,534,76)
print(a)

ValueError: too many values to unpack (expected 3)

In [37]:
a,b,*c = (2,3)
print(a)
print(b)
print(c)        # here c will create empty list

2
3
[]

In [38]:
a,b,*c = (2,3,34,45,678)
print(a)
print(b)
print(c)        # here c will create list

2
3
[34, 45, 678]

In [40]:
a,b,*_ = (2,3,34,45,678)             # *_ will ignore the values after two items error will not come  too many values given   
print(a)                                      #it will ignore the values
print(b)

2
3

In [ ]:
14                  # 14         generators to save the memory

In [55]:
l = [i for i in range (90000)]
print(sum(l))

import sys 
print(sys.getsizeof(l),"in bytes")
print()

g = (j for j in range(90000))              #here we used parenthesis() simple bracket
print(sum(g))

import sys 
print(sys.getsizeof(g),"in bytes")
print()

4049955000
800984 in bytes

4049955000
200 in bytes

In [ ]:
15                # using .join concatenation strings

In [62]:
l = ["Hello","friend","I","am","John"]
print(l)


a = ""
for i in l:
    a +=i + " "
print(a)

['Hello', 'friend', 'I', 'am', 'John']
Hello friend I am John

In [64]:
l = ["Hello","friend","I","am","John"]
print(l)

a = " ".join(l)           #using .join concatenation strings
print(a)

['Hello', 'friend', 'I', 'am', 'John']
Hello friend I am John

In [ ]:
Ml algo 
math intuition
explanation algo 
pandas loc iloc difference 
practical coding problem solve karne bola 
trick question tha i was not able to do it 
also performance metrics and introduce yourself

In [2]:
# 1 Python program to calculate the avg of numbers in lists

sample_list = [100,200,300,400,500,600,700]

total_sum = 0

for num in sample_list:
    total_sum += num
    
average = total_sum / len(sample_list)

print(f"Average: {average}")

Average: 400.0

In [3]:
# 2 Python program to exchange the values of two numbers without using third variable

var_1 = 20
var_2 = 40
print(f"Before swapping: var_1: {var_1}, var_2: {var_2}")

# swapping
var_1,var_2 = var_2,var_1

print(f"After swapping: var_1: {var_1}, var_2: {var_2}")

Before swapping: var_1: 20, var_2: 40
After swapping: var_1: 40, var_2: 20

In [4]:

# 3 python program to a read number n and compute n+nn+nnn+nnnn

n = 3
total_sum = 0

for num in range(n):
    total_sum += n**(num+1)  #n + nn + nnn + nnnn
    
    
print(f"Series Computation: {total_sum}")

Series Computation: 39

In [5]:
# 4 Python progam to reverse the given number

number = 12345
number = str(number)
print("Reverse Number: ", end="")

for num in range(len(number), 0, -1): # range in reverse order
    print(number[num-1], end="")

Reverse Number: 54321

In [22]:

# 5 python program to take a five subject marks and display the grade

print("Grade Calculator")
print("-"*70)
print()

marathi_marks = int(input("Enter marks in Marathi: "))
english_marks = int(input("Enter marks in English: "))
science_marks = int(input("Enter marks in Science: "))
history_marks = int(input("Enter marks in History: "))
geography_marks = int(input("Enter marks in Geography: "))
print()

total_marks = marathi_marks + english_marks + science_marks + history_marks + geography_marks
percentage = round((total_marks / 500) * 100)

if percentage > 75:
    print('Congratulations! You have passed the exam with an "O" grade.')

elif 66 <= percentage <= 75:
    print('Congratulations! You have passed the exam with an "A" grade.')

elif 55 <= percentage <= 65:
    print('Congratulations! You have passed the exam with a "B" grade.')

elif 40 <= percentage <= 54:
    print('Congratulations! You have passed the exam with a "C" grade.')

else:
    print("Sorry! You have failed the exam.")

Grade Calculator
----------------------------------------------------------------------

Enter marks in Marathi: 70
Enter marks in English: 70
Enter marks in Science: 70
Enter marks in History: 70
Enter marks in Geography: 70

Congratulations! You have passed the exam with an "A" grade.

In [23]:
# 6 python program to print all numbers in range divisible by given number

number = 100
print(f"Given Number: {number}")

divisible_number = []

for n in range(1, number+1):
    
    if number % n == 0:
        divisible_number.append(n)

print(f"Divisible Numbers: {divisible_number}")

Given Number: 100
Divisible Numbers: [1, 2, 4, 5, 10, 20, 25, 50, 100]

In [26]:
# 7 PP to read two numbers and print there quotrient and reminder

numerator = int(input("Enter Numerator: "))
denominator = int(input("Enter the denominator: "))
print()

quo = numerator // denominator
rem = numerator % denomerator

print(f"quotrient: {quo} \nreminder: {rem}")

Enter Numerator: 13
Enter the denominator: 3

NameError: name 'denomerator' is not defined

In [27]:
# 8 PP to accept three digits and print all possible combinations from digits

num_list = []

# Taking 3 numbers from user

for i in range(3):   
    num = int(input(f"Enter number {i+1}: "))
    num_list.append(num)

print()
print(f"All possible combinations of {len(num_list)} numbers")
print("-"*50)

for i in range(len(num_list)):
    for j in range(len(num_list)):
        for k in range(len(num_list)):
            
            if (i!=j) and (j!=k) and (k!=i): # to avoid same index number
                print(num_list[i],num_list[j],num_list[k])

Enter number 1: 1
Enter number 2: 2
Enter number 3: 3

All possible combinations of 3 numbers
--------------------------------------------------
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [28]:
# 9 PP to print odd numbers within a given range

n=11

for i in range(1, n+1):
    if i % 2 != 0:
        print(i, end=" ")

1 3 5 7 9 11

In [29]:
# 10 pp to find the sum of digits in number

number = 123456
number = str(number)

sum_total = 0

for i in range(len(number)):
    sum_total += int(number[i])

print(f"Sum of the Digits in given number: {sum_total}")

Sum of the Digits in given number: 21

In [30]:
# 11 PP to find smallest divisor of integer

number = 17
flag = 0

# input is zero
if number == 0:
    print("Invalid Input. There is no divisor of zero.")

# input is 1    
elif number == 1:
    print(f"Smallest Divisor of {number} is 1.")

# if input is positive number and grater than 2.
else:
    for i in range(2,number//2):

        # checking if there is any divisor
        if number%i == 0:
            flag = 1
            print(f"Smallest Divisor of {number} is {i}.")
            break

    # if divisor is not found then it is a Prime Number
    if flag == 0:
        print(f"Smallest Divisor of {number} is 1. Since it is a Prime Number.")

Smallest Divisor of 17 is 1. Since it is a Prime Number.

In [31]:
#12 PP to count the number of digits in num

user_input = input("Enter the Number: ")

print(f"{user_input} have {len(user_input)} digits.")

Enter the Number: 1234567
1234567 have 7 digits.

In [21]:
# 13 PP to check if the number is palindrome
number = 12343217
number = str(number)
pal_flag = 0

for i in range(len(number) - 1):

    if number[i] != number[len(number) - 1 - i]:
        pal_flag = 1
        break

if pal_flag == 0:
    print(f"{number} is a palindrome.")
else:
    print(f"{number} is not a palindrome.")

12343217 is not a palindrome.

In [20]:

# 14 PP to print all integers that aren't divisible by two or threee and lies between 1 to 5

start = 1
end = 5
print("all integers that aren't divisible by two or threee and lies between 1 to 5")
print("-"*100)

for num in range(start,end+1):
    
    if (num % 2 != 0) and (num % 3 != 0):
        print(num, end=" ")

all integers that aren't divisible by two or threee and lies between 1 to 5
----------------------------------------------------------------------------------------------------
1 5

In [19]:
# 15 PP to read N numbers and print the series 1+2+.....+N

user_input = int(input("Enter Number: "))
print()
print("Series")
print("-"*30)

total = 0

for i in range(1, user_input+1):
    
    total += i
    
    if i != user_input:
        print(f"{i} +",end=" ")
    else:
        print(i,end="")


print(f" = {total}")

Enter Number: 7

Series
------------------------------
1 + 2 + 3 + 4 + 5 + 6 + 7 = 28

In [17]:
# 16 PP to print identity matrix

user_input = int(input("Enter N of (N X N) identity matrix: "))

print()
print(f"identity matrix of {user_input} X {user_input}")
print("-"*25)

identity_matrix = []

for row in range(user_input):
    temp_list = []
    
    for column in range(user_input):
        if row == column:
            temp_list.append("1")
        else:
            temp_list.append("0")
    
    identity_matrix.append(temp_list)
    
for i in identity_matrix:
    print(" ".join(i))

Enter N of (N X N) identity matrix: 5

identity matrix of 5 X 5
-------------------------
1 0 0 0 0
0 1 0 0 0
0 0 1 0 0
0 0 0 1 0
0 0 0 0 1

In [18]:
# 17 PP to print inverted star Pattern

n = 7

for i in range(n):
    print((" "*i) + ("*"*(n-i)))

*******
 ******
  *****
   ****
    ***
     **
      *

In [15]:
# 18 PP to find the largest number in the list

sample_list = [1,2,3,4,5,6,7,8,8]
largest_num = 0

for i,num in enumerate(sample_list):
    
    if i == 0:
        largest_num = num
    else:
        if num > largest_num:
            largest_num = num
            
print(f"Largest Number: {largest_num}")

Largest Number: 8

In [14]:
# 19 PP to take the list and print the second largest number in he list
sample_list = [10,10,2,3,4,5,6,7,8,8]

max_num = max(sample_list[0], sample_list[1])   
second_max_num = min(sample_list[0], sample_list[1])

for i in range(2, len(sample_list)):
    
    if sample_list[i] > max_num:  # if next num is bigger than max num
        
        second_max_num = max_num
        max_num = sample_list[i]
        
    elif (sample_list[i] > second_max_num) and (sample_list[i]!=max_num): # if next num is bigger than second max
        second_max_num = sample_list[i]
        
    # if max and second max equal and earlier conditions tells us num is not bigger than second max and max.
    # we can simply put that num as second largest num
    elif (max_num==second_max_num) and (second_max_num!=sample_list[i]): 
        second_max_num = sample_list[i]
        
print(f"Second Largest Number: {second_max_num}")

Second Largest Number: 8

In [13]:
# 20 PP to merge two lists and to sort it
sample_list_1 = [10,10,2,3,4,5,6,7,85,8]
sample_list_2 = [1,16,27,39,4,5,66,7,80,8]

sample_list_1.extend(sample_list_2)
print(f"Sorted Merge List: {sorted(sample_list_1)}")

Sorted Merge List: [1, 2, 3, 4, 4, 5, 5, 6, 7, 7, 8, 8, 10, 10, 16, 27, 39, 66, 80, 85]

In [12]:
# 21 PP to find the union of two lists
sample_list_1 = [10,10,2,3,4,5,6,7,85,8]
sample_list_2 = [1,16,27,39,4,5,66,7,80,8]

sample_list_1.extend(sample_list_2)

print(f"Union of 2 list: {sample_list_1}")

Union of 2 list: [10, 10, 2, 3, 4, 5, 6, 7, 85, 8, 1, 16, 27, 39, 4, 5, 66, 7, 80, 8]

In [11]:
#22 PP to find the count of numbers and display in dictionary

sample_list = [10, 10, 85, 8, 80, 8,10,10]

count_dict = {}

for num in sample_list:
    if num not in count_dict.keys():
        count_dict[num] = 1
    else:
        count_dict[num] += 1

print("count of numbers: ")  

print(count_dict)

count of numbers:
{10: 4, 85: 1, 8: 2, 80: 1}

In [7]:
# 23 PP to swap the first and last value of the list

sample_list = [10,2,3,4,5,6,7,85,8]

new_list = list(sample_list[-1:]) + sample_list[1:-1] + list(sample_list[:1])

print(f"Orignal List: {sample_list}")
print(f"Swapped List: {new_list}")

Orignal List: [10, 2, 3, 4, 5, 6, 7, 85, 8]
Swapped List: [8, 2, 3, 4, 5, 6, 7, 85, 10]

In [6]:
#24 PP to remove the duplicate items from the list

sample_list = [10,2,3,4,5,6,7,85,8,10,8,5,7,10]

unique_list = []

for i in range(len(sample_list)):
    
    if (sample_list[i] not in sample_list[i+1:]) and (sample_list[i] not in unique_list):
        unique_list.append(sample_list[i])

print(f"Orignal List: {sample_list}")
print(f"Unique list: {unique_list}")

Orignal List: [10, 2, 3, 4, 5, 6, 7, 85, 8, 10, 8, 5, 7, 10]
Unique list: [2, 3, 4, 6, 85, 8, 5, 7, 10]